<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.edlison.design.spring.aop.style_api.service.UserServiceImpl"/>
    <bean id="logBefore" class="com.edlison.design.spring.aop.style_api.log.LogBefore"/>
    <bean id="logAfter" class="com.edlison.design.spring.aop.style_api.log.LogAfter"/>
    
    <aop:config>
        <aop:pointcut id="first"
                      expression="execution(* com.edlison.design.spring.aop.style_api.service.UserServiceImpl.* (..))"/>

        <aop:advisor advice-ref="logBefore" pointcut-ref="first"/>
        <aop:advisor advice-ref="logAfter" pointcut-ref="first"/>
    </aop:config>
</beans>